<h1>Python Strings</h1>

In [2]:
statement = "    Python is a Programming Language    "
statement.strip(" ")

'Python is a Programming Language'

In [3]:
statement.lower()

'    python is a programming language    '

In [4]:
statement.upper()

'    PYTHON IS A PROGRAMMING LANGUAGE    '

In [5]:
statement.title()

'    Python Is A Programming Language    '

In [8]:
name = "shubham singh"
age = "20"
print(f"Hello, my name is {name} and i am {age} years old.")

Hello, my name is shubham singh and i am 20 years old.

In [13]:
var = "FACE"
print(var)
var[-3:-1]

FACE

'AC'

In [14]:
var[::-1]

'ECAF'

In [22]:
new_var = "education"
vowels = "aeiouAEIOU"
count = 0
for i in new_var:
    if i in vowels:
        count = count+1
print(count)

5

In [23]:
data = "data science project"
data.replace(" ", "-")

'data-science-project'

In [31]:
word = data.split()
new_text = "-".join(word)
print(new_text)

data-science-project

In [32]:
cnt=0
for i in data:
    cnt=cnt+1
print(cnt)

20

In [45]:
list1 = ["shubham", 50, "Om", 90]
print(list1)
print(type(list1))

['shubham', 50, 'Om', 90]
<class 'list'>

In [35]:
print(list1[2])

Om

In [47]:
list1.append("mango")
list1.insert(3, "Om")
print(list1)

['shubham', 50, 'watermelon', 'Om', 90, 'mango', 'mango']

In [51]:
fruits = ['apple', 'banana', 'cherry']
cars = ['BMW', 'Defender', 'Range Rover']
fruits.append(cars)
print(fruits)

['apple', 'banana', 'cherry', ['BMW', 'Defender', 'Range Rover']]

<h1>Tuples</h1>

In [55]:
cars.sort(reverse = True)
print(cars)

['Range Rover', 'Defender', 'BMW']

In [58]:
text = input("Enter the words: ")
text.split()

Enter the words:  shubham bmw

['shubham', 'bmw']

In [61]:
numbers = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = numbers.index(8)
print(x)

3

<h1>Python Dictionary</h1>

In [66]:
cars = {
    "brand": "Mahindra",
    "model": "Scorpio",
    "year" : 2020
}
print(cars)

{'brand': 'Mahindra', 'model': 'Scorpio', 'year': 2020}

In [72]:
print(cars["model"])

Scorpio

In [73]:
keys = ["brand", "model", "year"]
op = [cars[k] for k in keys]
op

['Mahindra', 'Scorpio', 2020]

In [74]:
cars.items()

dict_items([('brand', 'Mahindra'), ('model', 'Scorpio'), ('year', 2020)])

In [78]:
cars["brand"] = "Toyota",
cars["model"] = "Land Crusier"

In [79]:
cars.items()

dict_items([('brand', ('Toyota',)), ('model', 'Land Crusier'), ('year', 2020)])

In [80]:
cars.update({"year": 2022})

In [81]:
cars

{'brand': ('Toyota',), 'model': 'Land Crusier', 'year': 2022}

In [82]:
cars.update({"color":"black"})
cars

{'brand': ('Toyota',), 'model': 'Land Crusier', 'year': 2022, 'color': 'black'}

In [83]:
cars.pop("model")
cars

{'brand': ('Toyota',), 'year': 2022, 'color': 'black'}

In [86]:
from collections import Counter

word = "swiss"
count = Counter(word)
print(count)
for i in word:
    if(count[i]==1):
        print(i)
        break

Counter({'s': 3, 'w': 1, 'i': 1})
w

In [94]:
amount = int(input("Enter withdraw amount: "))
if (amount % 100 == 0):
    if(amount >= 500):
        five = amount // 500
        amount -= five * 500
        print("500 Rupees Notes given are ->",five)
    if(amount >= 200):
        two = amount // 200
        amount -= two*200
        print("200 Rupess Notes given are ->", two)
    if(amount == 100):
        one = amount // 100
        print("100 Rupess Notes given are ->", one)

else:
    print("Please enter a valid amount which is multiples of 100.")

Enter withdraw amount:  1800

500 Rupees Notes given are -> 3
200 Rupess Notes given are -> 1
100 Rupess Notes given are -> 1