## Transactions Data

In [2]:
import pandas as pd
import numpy as np
txns = pd.read_csv("transactions.csv")
txns

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-2015,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-2015,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

## TASK-1

In [3]:
# Total sales amount across all transactions
total_sales = txns["t_amt"].sum()
total_sales

np.float64(5110820.54)

## TASK-2

In [4]:
# month with highest total transaction amount
txns["month"] = pd.to_datetime(txns["t_date"]).dt.month_name()

monthly_sales = txns.groupby("month")["t_amt"].sum()

print(monthly_sales.idxmax(), monthly_sales.max())

March 444664.24

## TASK-3

In [5]:
# average transaction amount per customer
average_sales_per_customer = txns.groupby("cust_id")["t_amt"].mean()
average_sales_per_customer

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

## TASK-4

In [6]:
# trend of total sales over months
monthly_sales_trend = txns.groupby("month")["cust_id"].count()
monthly_sales_trend

month
April        4175
August       4250
December     4150
February     3834
January      4268
July         4252
June         4171
March        4360
May          4205
November     3994
October      4181
September    4160
Name: cust_id, dtype: int64

## TASK-5

In [7]:
# highest single transaction amount recorded
highest_transaction = txns["t_amt"].max()
highest_transaction

200.0

## TASK-6

In [10]:
# service category contributes the most to total revenue
revenue_by_category = txns.groupby("services")["t_amt"].sum()
print(revenue_by_category.idxmax(), revenue_by_category.max())

Outdoor Recreation 846678.64

## TASK-7

In [12]:
# product generated the highest revenue
revenue_by_product = txns.groupby("products_used")["t_amt"].sum()
print(revenue_by_product.idxmax(), revenue_by_product.max())

Yoga & Pilates 47804.94

## TASK-8

In [13]:
# the average transaction amount vary between services
average_transaction_by_service = txns.groupby("services")["t_amt"].mean()
average_transaction_by_service

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64

## TASK-9

In [14]:
# unique customers made purchases
unique_customers = txns["cust_id"].nunique()
unique_customers

9926

## TASK-10

In [15]:
# customers have spent the most overall
spending_by_customer = txns.groupby("cust_id")["t_amt"].sum()
print(spending_by_customer.idxmax(), spending_by_customer.max())

4009485 1973.3

## TASK-11

In [16]:
# the average number of transactions per customer
average_transactions_per_customer = txns.groupby("cust_id")["t_amt"].count()
average_transactions_per_customer.mean()

np.float64(5.037275841225066)

## TASK-12

In [17]:
# customers who made multiple purchases in different categories
customer_category_counts = txns.groupby("cust_id")["services"].nunique()
customers_multiple_categories = customer_category_counts[customer_category_counts > 1].index
customers_multiple_categories

Index([4000000, 4000001, 4000002, 4000003, 4000004, 4000005, 4000006, 4000007,
       4000009, 4000011,
       ...
       4009990, 4009991, 4009992, 4009993, 4009994, 4009995, 4009996, 4009997,
       4009998, 4009999],
      dtype='int64', name='cust_id', length=9488)

## TASK-13

In [18]:
# percentage of customers are repeat buyers
customer_transaction_counts = txns.groupby("cust_id")["t_amt"].count()
repeat_buyers = customer_transaction_counts[customer_transaction_counts > 1].count()
total_customers = customer_transaction_counts.count()
repeat_buyer_percentage = (repeat_buyers / total_customers) * 100
repeat_buyer_percentage

np.float64(96.5645778762845)

## TASK-14

In [19]:
# product category has the highest total sales
revenue_by_product_category = txns.groupby("products_used")["t_amt"].sum()
print(revenue_by_product_category.idxmax(), revenue_by_product_category.max())

Yoga & Pilates 47804.94

## TASK-15

In [20]:
# services are most popular by transaction count
transaction_count_by_service = txns.groupby("services")["t_amt"].count()
print(transaction_count_by_service.idxmax(), transaction_count_by_service.max())

Outdoor Recreation 8383

## TASK-16

In [21]:
# For each service, which product type is purchased most frequently
most_frequent_product_by_service = txns.groupby("services")["products_used"].agg(lambda x: x.mode()[0])
most_frequent_product_by_service

services
Air Sports                                Parachutes
Combat Sports                                 Boxing
Dancing                                  Ballet Bars
Exercise & Fitness        Cardio Machine Accessories
Games                                        Mahjong
Gymnastics                             Balance Beams
Indoor Games                                Foosball
Jumping                                  Trampolines
Outdoor Play Equipment                    Swing Sets
Outdoor Recreation                        Lawn Games
Puzzles                               Jigsaw Puzzles
Racquet Sports                             Badminton
Team Sports                                   Hockey
Water Sports                            Bodyboarding
Winter Sports                   Cross-Country Skiing
Name: products_used, dtype: object

## TASK-17

In [22]:
# the average transaction amount per product type
average_transaction_by_product = txns.groupby("products_used")["t_amt"].mean()
average_transaction_by_product

products_used
Abdominal Equipment    105.362798
Air Hockey             103.775478
Air Suits              101.421832
Archery                 97.345564
Badminton              108.441138
                          ...
Wetsuits               102.042775
Whitewater Rafting     102.877744
Windsurfing            104.161453
Wrestling               97.895364
Yoga & Pilates         107.668784
Name: t_amt, Length: 125, dtype: float64

## TASK-18

In [23]:
# Are there specific services where customers spend significantly more
average_transaction_by_service = txns.groupby("services")["t_amt"].mean()
average_transaction_by_service

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64

## TASK-19

In [24]:
# state has the highest total sales
revenue_by_state = txns.groupby("state")["t_amt"].sum()
print(revenue_by_state.idxmax(), revenue_by_state.max())

California 702346.23

## TASK-20

In [25]:
# Which city records the highest number of transactions
transaction_count_by_city = txns.groupby("city")["t_amt"].count()
print(transaction_count_by_city.idxmax(), transaction_count_by_city.max())

Pasadena 939

## TASK-21

In [26]:
# the average spending per transaction in each state
average_spending_by_state = txns.groupby("state")["t_amt"].mean()
average_spending_by_state

state
Alabama                 102.487049
Arizona                 102.172241
California              102.652182
Colorado                101.537415
Connecticut              99.982108
District of Columbia    103.800334
Florida                 103.136567
Georgia                 102.330675
Hawaii                  101.536667
Idaho                    98.969538
Illinois                100.166315
Indiana                 100.712664
Iowa                    103.100727
Kansas                  101.436926
Kentucky                104.130392
Louisiana               103.466335
Maryland                100.506913
Massachusetts           104.541571
Michigan                101.547777
Minnesota               103.465157
Mississippi             101.214926
Missouri                100.969040
Nebraska                101.955690
Nevada                  105.434718
New Jersey              103.438005
New York                100.259452
North Carolina          103.033172
Ohio                    101.350817
Oklahoma                104.995771
Oregon                  102.438143
Pennsylvania            102.776034
South Carolina          103.540065
Tennessee                99.265804
Texas                   101.379891
Utah                    104.507560
Virginia                104.976206
Washington              101.401603
Wisconsin               101.953159
Name: t_amt, dtype: float64

## TASK-22

In [27]:
# Are certain services more popular in specific states
transaction_count_by_service_and_state = txns.groupby(["services", "state"])["t_amt"].count()
transaction_count_by_service_and_state

services       state
Air Sports     Alabama         21
               Arizona         24
               California     122
               Colorado        35
               Connecticut     19
                             ...
Winter Sports  Texas          345
               Utah            53
               Virginia        72
               Washington     128
               Wisconsin       64
Name: t_amt, Length: 570, dtype: int64

## TASK-23

In [ ]:
# Which states buy the most Outdoor Recreation products
outdoor_recreation_sales_by_state = (
    txns[txns["products_used"].str.strip().str.lower() == "outdoor recreation"]
    .groupby("state")["t_amt"]
    .sum()
)

if len(outdoor_recreation_sales_by_state) == 0:
    print("No Outdoor Recreation transactions found")
else:
    print(
        outdoor_recreation_sales_by_state.idxmax(),
        outdoor_recreation_sales_by_state.max()
    )

No Outdoor Recreation transactions found

## TASK-24

In [31]:
# Compare average spending between California and Texas customers
average_spending_by_state = txns.groupby("state")["t_amt"].mean()
california_avg = average_spending_by_state.get("California", np.nan)
texas_avg = average_spending_by_state.get("Texas", np.nan)
print(f"Average spending in California: {california_avg}")
print(f"Average spending in Texas: {texas_avg}")

Average spending in California: 102.65218211049401
Average spending in Texas: 101.37989136542423

## TASK-25

In [32]:
# Which quarter of the year saw the highest sales
txns["quarter"] = pd.to_datetime(txns["t_date"]).dt.quarter
quarterly_sales = txns.groupby("quarter")["t_amt"].sum()
print(quarterly_sales.idxmax(), quarterly_sales.max())

3 1303137.44

## TASK-26

In [33]:
# How does total sales vary month by month
monthly_sales = txns.groupby("month")["t_amt"].sum()
monthly_sales

month
April        420695.24
August       434255.01
December     421490.73
February     395262.37
January      438165.76
July         439560.80
June         421074.55
March        444664.24
May          432627.58
November     408846.35
October      424856.28
September    429321.63
Name: t_amt, dtype: float64

## TASK-27

In [34]:
# the total number of transactions per month
transaction_count_by_month = txns.groupby("month")["t_amt"].count()
transaction_count_by_month

month
April        4175
August       4250
December     4150
February     3834
January      4268
July         4252
June         4171
March        4360
May          4205
November     3994
October      4181
September    4160
Name: t_amt, dtype: int64

## TASK-28

In [38]:
# Is there a particular season when sports equipment sales spike
sports_equipment_sales_by_month = (
    txns[txns["products_used"].str.strip().str.lower() == "sports equipment"]
    .groupby("month")["t_amt"]
    .sum()
)
sports_equipment_sales_by_month

Series([], Name: t_amt, dtype: float64)

## TASK-29

In [40]:
# How many transactions were done using credit
credit_transactions_count = txns[txns["t_details"].str.strip().str.lower() == "credit"]["t_amt"].count()
credit_transactions_count

np.int64(43151)

## TASK-30

In [41]:
# What is the total revenue generated from credit transactions
credit_revenue = txns[txns["t_details"].str.strip().str.lower() == "credit"]["t_amt"].sum()
credit_revenue

np.float64(4923134.93)

## TASK-31

In [42]:
# Is there a difference in average spending between credit and debit customers
average_spending_by_payment_method = txns.groupby(txns["t_details"].str.strip().str.lower())["t_amt"].mean()
average_spending_by_payment_method

t_details
cash       27.403360
credit    114.090865
Name: t_amt, dtype: float64

## TASK-32

In [43]:
# Which states or cities should the company focus on for marketing high-value products?
average_spending_by_city = txns.groupby("city")["t_amt"].mean()
average_spending_by_state = txns.groupby("state")["t_amt"].mean()
print("Average spending by city:")
print(average_spending_by_city.sort_values(ascending=False).head())
print("\nAverage spending by state:")
print(average_spending_by_state.sort_values(ascending=False).head())

Average spending by city:
city
Long Beach    109.308506
Boston        107.975107
Louisville    106.643184
Paterson      106.629200
Irvine        106.517384
Name: t_amt, dtype: float64

Average spending by state:
state
Nevada           105.434718
Oklahoma         104.995771
Virginia         104.976206
Massachusetts    104.541571
Utah             104.507560
Name: t_amt, dtype: float64

## TASK-33

In [44]:
# Should more inventory be stocked for Exercise & Fitness products given their popularity
exercise_fitness_sales = txns[txns["products_used"].str.strip().str.lower() == "exercise & fitness"]["t_amt"].sum()
exercise_fitness_sales

np.float64(0.0)

## TASK-34

In [45]:
# Are there product categories with high sales but low average transaction amounts
revenue_by_product_category = txns.groupby("products_used")["t_amt"].sum()
average_transaction_by_product_category = txns.groupby("products_used")["t_amt"].mean()
product_categories = pd.DataFrame({
    "total_revenue": revenue_by_product_category,
    "average_transaction": average_transaction_by_product_category
})
product_categories

                     total_revenue  average_transaction
products_used
Abdominal Equipment       43304.11           105.362798
Air Hockey                40161.11           103.775478
Air Suits                 19371.57           101.421832
Archery                   37088.66            97.345564
Badminton                 44786.19           108.441138
...                            ...                  ...
Wetsuits                  38980.34           102.042775
Whitewater Rafting        41048.22           102.877744
Windsurfing               43018.68           104.161453
Wrestling                 40332.89            97.895364
Yoga & Pilates            47804.94           107.668784

[125 rows x 2 columns]

## TASK-35

In [46]:
# Are there underperforming service categories that need promotional offers
revenue_by_service_category = txns.groupby("services")["t_amt"].sum()
average_transaction_by_service_category = txns.groupby("services")["t_amt"].mean()
service_categories = pd.DataFrame({
    "total_revenue": revenue_by_service_category,
    "average_transaction": average_transaction_by_service_category
})
service_categories

                        total_revenue  average_transaction
services
Air Sports                   99316.90           103.455104
Combat Sports               164730.67           101.061761
Dancing                      42603.71           102.907512
Exercise & Fitness          766463.87           103.660247
Games                       374932.70           102.272968
Gymnastics                  327225.34           102.385901
Indoor Games                288506.04           103.074684
Jumping                     205842.67           102.155171
Outdoor Play Equipment      294728.28           101.281196
Outdoor Recreation          846678.64           100.999480
Puzzles                      61564.75           100.595997
Racquet Sports              166976.06           103.647461
Team Sports                 617461.38           102.738998
Water Sports                531815.97           101.899975
Winter Sports               321973.56           101.217718