### Pandas

#### Step-1: Import pandas lib

In [20]:
import pandas as pd

In [15]:
# Create a simple dictionary
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [16]:
arrays = pd.Series([1, 2, 3, 4, 5])
print(arrays)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
})
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

### Method2: Rename

In [18]:
df.rename(columns={"Name": "Full Name", "Age": "Years", "City": "Location"}, inplace=True)
df

  Full Name  Years     Location
0     Alice     25     New York
1       Bob     30  Los Angeles
2   Charlie     35      Chicago

# step3: load the datasets from system

In [37]:
df=pd.read_csv("dataset.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [30]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [31]:
df.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
256,58,1,0,128,259,0,0,130,1,3.0,1,2,3,0
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2,0
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2,1
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2,0
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
183,58,1,2,112,230,0,0,165,0,2.5,1,1,3,0
121,59,1,0,138,271,0,0,182,0,0.0,2,0,2,1
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2,1

## Method 5: Info

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### Method 6: Stats

In [33]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### Method 7

In [34]:
# Check for missing values in the dataframe
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### Method 8: Value Counts

In [38]:
df['age'].value_counts()

age
58    19
57    17
54    16
59    14
52    13
51    12
62    11
60    11
44    11
56    11
64    10
41    10
63     9
67     9
65     8
43     8
45     8
55     8
42     8
61     8
53     8
46     7
48     7
66     7
50     7
49     5
47     5
70     4
39     4
35     4
68     4
38     3
71     3
40     3
69     3
34     2
37     2
29     1
74     1
76     1
77     1
Name: count, dtype: int64

In [36]:
df.shape

(303, 14)

### Handled missing values

## method 10

In [39]:
# Fill missing values in the dataframe with the mean of each column
df_filled = df.fillna(df.mean())
df_filled

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

## method12: group by

In [41]:
df.groupby('sex').mean()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,55.677083,1.041667,133.083333,261.302083,0.12500,0.572917,151.125000,0.229167,0.876042,1.427083,0.552083,2.125000,0.750000
1,53.758454,0.932367,130.946860,239.289855,0.15942,0.507246,148.961353,0.371981,1.115459,1.386473,0.811594,2.400966,0.449275

## method 13: iloc

In [ ]:
# loc follows position
#iloc follows index

In [44]:
df.iloc[0:5,df.columns.get_loc('age')]

0    63
1    37
2    41
3    56
4    57
Name: age, dtype: int64

In [45]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [46]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

## method 15: data type

In [47]:
df['oldpeak'] = df['oldpeak'].astype('int32')
df.dtypes

age         int64
sex         int64
cp          int64
trestbps    int64
chol        int64
fbs         int64
restecg     int64
thalach     int64
exang       int64
oldpeak     int32
slope       int64
ca          int64
thal        int64
target      int64
dtype: object

## method 16: unique

In [48]:
df['sex'].unique()

array([1, 0])

## method 18: nunique()

In [49]:
df.nunique()

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak       7
slope         3
ca            5
thal          4
target        2
dtype: int64

In [50]:
df[(df['age'] > 20) & (df['age'] < 60)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,37,1,2,130,250,0,1,187,0,3,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,59,1,0,164,176,1,0,90,0,1,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1,1,0,3,0
301,57,1,0,130,131,0,1,115,1,1,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0,1,1,2,0

In [52]:
df['chol_level'] = df['chol'].apply(lambda x: 'low cholestrol' if x < 200 else 'high cholestrol')
df[['chol', 'chol_level']]

     chol       chol_level
0     233  high cholestrol
1     250  high cholestrol
2     204  high cholestrol
3     236  high cholestrol
4     354  high cholestrol
..    ...              ...
298   241  high cholestrol
299   264  high cholestrol
300   193   low cholestrol
301   131   low cholestrol
302   236  high cholestrol

[303 rows x 2 columns]

In [54]:
safe_data = df.copy()
safe_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_level
0,63,1,3,145,233,1,0,150,0,2,0,0,1,1,high cholestrol
1,37,1,2,130,250,0,1,187,0,3,0,0,2,1,high cholestrol
2,41,0,1,130,204,0,0,172,0,1,2,0,2,1,high cholestrol
3,56,1,1,120,236,0,1,178,0,0,2,0,2,1,high cholestrol
4,57,0,0,120,354,0,1,163,1,0,2,0,2,1,high cholestrol
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0,1,0,3,0,high cholestrol
299,45,1,3,110,264,0,1,132,0,1,1,0,3,0,high cholestrol
300,68,1,0,144,193,1,1,141,0,3,1,2,3,0,low cholestrol
301,57,1,0,130,131,0,1,115,1,1,1,1,3,0,low cholestrol
302,57,0,1,130,236,0,0,174,0,0,1,1,2,0,high cholestrol

In [55]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

In [56]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_level
0,63,1,3,145,233,1,0,150,0,2,0,0,1,1,high cholestrol
1,37,1,2,130,250,0,1,187,0,3,0,0,2,1,high cholestrol
2,41,0,1,130,204,0,0,172,0,1,2,0,2,1,high cholestrol
3,56,1,1,120,236,0,1,178,0,0,2,0,2,1,high cholestrol
4,57,0,0,120,354,0,1,163,1,0,2,0,2,1,high cholestrol
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0,1,0,3,0,high cholestrol
299,45,1,3,110,264,0,1,132,0,1,1,0,3,0,high cholestrol
300,68,1,0,144,193,1,1,141,0,3,1,2,3,0,low cholestrol
301,57,1,0,130,131,0,1,115,1,1,1,1,3,0,low cholestrol
302,57,0,1,130,236,0,0,174,0,0,1,1,2,0,high cholestrol

In [58]:
df.reset_index(drop=True, inplace=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_level
0,63,1,3,145,233,1,0,150,0,2,0,0,1,1,high cholestrol
1,37,1,2,130,250,0,1,187,0,3,0,0,2,1,high cholestrol
2,41,0,1,130,204,0,0,172,0,1,2,0,2,1,high cholestrol
3,56,1,1,120,236,0,1,178,0,0,2,0,2,1,high cholestrol
4,57,0,0,120,354,0,1,163,1,0,2,0,2,1,high cholestrol
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0,1,0,3,0,high cholestrol
299,45,1,3,110,264,0,1,132,0,1,1,0,3,0,high cholestrol
300,68,1,0,144,193,1,1,141,0,3,1,2,3,0,low cholestrol
301,57,1,0,130,131,0,1,115,1,1,1,1,3,0,low cholestrol
302,57,0,1,130,236,0,0,174,0,0,1,1,2,0,high cholestrol

In [60]:
df.set_index('age', inplace=True)
df

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_level
age,,,,,,,,,,,,,,
63,1,3,145,233,1,0,150,0,2,0,0,1,1,high cholestrol
37,1,2,130,250,0,1,187,0,3,0,0,2,1,high cholestrol
41,0,1,130,204,0,0,172,0,1,2,0,2,1,high cholestrol
56,1,1,120,236,0,1,178,0,0,2,0,2,1,high cholestrol
57,0,0,120,354,0,1,163,1,0,2,0,2,1,high cholestrol
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,0,0,140,241,0,1,123,1,0,1,0,3,0,high cholestrol
45,1,3,110,264,0,1,132,0,1,1,0,3,0,high cholestrol
68,1,0,144,193,1,1,141,0,3,1,2,3,0,low cholestrol
57,1,0,130,131,0,1,115,1,1,1,1,3,0,low cholestrol
57,0,1,130,236,0,0,174,0,0,1,1,2,0,high cholestrol